################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CBM-Command.VC.VC.opendb
/CBM-Command.VC.db
C64
C128
/CBM-Command/A2
PLUS4
VIC20
*.o
*.log
cbmcommand.d64
